<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="   
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd 
http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.1.xsd 
   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd   
   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- 工作站仓储配置 -->
	<bean id="stationRepository" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.greejoy.dlssjk.repository.StationRepository"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<!-- 区域仓储配置 -->
	<bean id="areaRepository" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.greejoy.dlssjk.repository.AreaRepository"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<!-- 监视器仓储配置 -->
	<bean id="monitorRepository" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.greejoy.dlssjk.repository.MonitorRepository"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<!-- 监控点仓储配置 -->
	<bean id="pointRepository" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.greejoy.dlssjk.repository.PointRepository"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<!-- 任务仓储配置 -->
	<bean id="taskRepository" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.greejoy.dlssjk.repository.TaskRepository"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<!--区域任务日志-->
	<bean id="taskAreaLogRespository" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.greejoy.dlssjk.repository.TaskAreaLogRepository"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<!--监控点日志-->
	<bean id="taskPointLogRepository" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.greejoy.dlssjk.repository.TaskPointLogRepository"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<!--任务日志 -->
	<bean id="taskLogRespository" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.greejoy.dlssjk.repository.TaskLogRepository"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<!-- 报警日志 -->
	<bean id="alarmRespository" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.greejoy.dlssjk.repository.AlarmRepository"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
</beans> 