<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.greejoy.dlssjk.repository.MonitorRepository">
	<select id="getMonitors" resultType="HashMap">
		select monitor_id as id,station_id,monitor_name as name,monitor_ip as ip,monitor_port as port,monitor_description as description from monitor_table ${filter};
	</select>
	<select id="getMonitorsBriefInfo" resultType="HashMap">
		select monitor_id as id,monitor_name as name from monitor_table ${filter};
	</select>
	<select id="getMonitor" resultType="HashMap">
		select monitor_id as id,station_id,monitor_name as name,monitor_ip as ip,monitor_port as port,monitor_description as description from monitor_table where monitor_id=#{monitorId};
	</select>
</mapper>